.DS_Store
nbproject/private/
bin/
dist/
build/
lib/
runtime-lib/
override.properties
target/
test-lib/
.ant*
.webdetails.db
bogus.txt

#Eclipse Project files
.classpath
.project
.settings/

#Intellij IDEA Project Files
/.idea
*.iml
out/
.metadata
*~
